.button {
  min-width: 185px;
  height: 72px;
  padding: 12px 18px;
  border: 1px solid var(--color-primary-dark);
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 4px;
  line-height: 1;
  outline: none;
  text-transform: uppercase;
  transition: color .5s, background-color .5s ease;
}

.button:hover,
.button:focus-visible {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

.button:disabled {
  border: 1px solid var(--color-primary-dark-translucent);
  color: var(--color-primary-dark-translucent);
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: transparent;
}
