.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 0;
}

.input {
  width: 100%;
  min-height: 160px;
  padding: 10px;
  border-color: var(--color-text-primary-30);
  background-color: inherit;
  font-size: 16px;
  outline: none;
  resize: vertical;
  text-transform: lowercase;
}

.input:hover,
.input:focus-visible {
  border-color: var(--color-text-primary);
}

.error {
  overflow: hidden;
  height: 20px;
  margin: 10px 0 0;
  color: var(--color-accent);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.submitGroup {
  margin-top: 20px;
}
