.fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  border: 0;
}

.input {
  width: 100%;
  min-height: 160px;
  padding: 10px;
  border-color: var(--color-text-primary-30);
  background-color: inherit;
  font-size: 16px;
  outline: none;
  resize: vertical;
  text-transform: lowercase;
}

.input:hover,
.input:focus-visible {
  border-color: var(--color-text-primary);
}

.submitGroup {
  margin-top: 40px;
}
