.root {
  max-width: 700px;
  padding: 25px 0;
  margin: 0 auto;
}

.message {
  padding: 20px;
  margin: 0;
  color: var(--color-text-primary-30);
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .root {
    padding: 20px 0;
  }
}
