:root {
  /* TODO: work on better naming */
  --color-bg-primary: rgb(248, 248, 248);
  --color-bg-secondary: rgb(227,227,227);
  --color-text-primary: rgb(1 1 9);
  --color-text-primary-30: rgba(1 1 9 / 30%);
  --color-accent: rgb(193 1 5);
}
